/* You can add global styles to this file, and also import other style files */

@import './app/_helpers/variables';

html, body { height: 100%; overflow-x: hidden }
body {
  min-width: 425px;
  margin: 0;
  padding-top: 60px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-color
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {text-decoration: underline;}
  &:hover, &:focus, &:active, &:visited {
    color: lighten($link-color, 14%);
  }
}


.app_nav__link {
  color: #444;
  font-size: 14px;
  text-decoration: none;
  &.active {
    background: rgba(0,0,0,0.6);
  }
  &:hover {
    color: lighten(#444, 5%);
    text-decoration: inherit;
  }
  &:focus, &:active, &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}

.service_action__container {
  padding: 30px 0;
}

@media (max-width: 959px) {
  .terms_link {
    .mat-checkbox-layout {
      white-space: normal;
    }
  }
}
